*, *:before, *:after {
  box-sizing: border-box;
}

div {
  background-color: #dadada;
  font-size: 10px;
  float: left;
  text-align: left;
  height: 287px;
  width: 100%;
  padding-left: 5%;
  padding-top: 5%;

}

.container {
  margin: 20px auto;
  width: 90%;
}

.previewbaku {
  background-image: url(../images/baku.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.previewlondon {
  background-image: url(../images/london.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.previewmadrid {
  background-image: url(../images/madrid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.previewrome {
  background-image: url(../images/rome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 375px){
  div {
    margin: 1%;
    width: 100%;
  }
}

@media screen and (min-width: 575px){
  div {
    margin: 1%;
    width: 48%;
  }
}

@media screen and (min-width: 991px){
  div {
    margin: 1%;
    width: 22%;
  }
}
